{% layout 'layout.liquid' %}
{% block content %}

<div class="inner-content">
    <div  style="margin-top: 180px;" class="container-sm">
        <form action="/auth/login" method="POST">
            <fieldset>
                <legend style="font-family: lobster, cursive; font-size: 50px;">Welcome Back, Log In Below!</legend>
                <label style="font-size: 20px;" class="form-label">Username </label>
                <input type="text" name="username" placeholder="username" class="form-control" required>
                <label style="font-size: 20px;" class="form-label">Password</label>
                <input type="password" name="password" placeholder="enter password" class="form-control" required>
            </fieldset>
            <input style="background-color: #770aed;" type="submit" value="Log In" class="btn btn-success">
        </form>
    </div>
    <div>
        <img  style="margin: 50px 0;" src="https://i.pinimg.com/736x/62/df/f9/62dff909dc1091ca3cf1e12ee4eadd98.jpg" alt="">
    </div>
</div>

{% endblock %}