{% layout "layout.liquid" %}
{% block content %}



  <div class="inner-content homepg">
    
    <div class="column column-a ">
      <h1 class="welcome">Welcome to doWell
      </h1>

      <h2 class="sub-text">Find and share products you
        <span class="purple-text">love</span>
      </h2>


    </div>


    <div class="column sidebar">

      {% if loggedIn %}
        <h1 style="text-align: center;">What's New:</h1>
      {% else %}
        <h2>Join our community:
          <a href="/auth/signup">Sign Up!</a>
        </h2>
        <h2>Already a member?
          <a href="/auth/login">Log in</a>
        </h2>
      {% endif %}
    </div>
    <div class="homepage-img">
    </div>
  </div>

  {% comment %}
  <div class="container">
  <div class="content-container container-md">
  <nav>
  <ul>
  <span class="title">

  </li>
  </span>
  <li>
  <a href=""></a>Wellness Feed</li>
  <li>
  <a href=""></a>My Collection</li>
  <li>
  <a href=""></a>Log in</li>
  <li>
  <a href=""></a>Sign Up</li>
  </ul>
  </nav>
  <div class="home">
  <div class="home-content">
  <h1>Welcome to doWell</h1>
  <img src="https://cdn.freelogodesign.org/files/2ca98406b5cb4aa392b11f0677473b5c/thumb/logo_200x200.png?v=638101844560000000" alt="logo">

  </div>

  </div>
  </div>
  </div>

  HOMEPAGE IMAGE ORIGINAL 
        <img src="https://i.pinimg.com/736x/3c/44/91/3c44911803156715727a349ffb13b021.jpg" alt="">

  {% endcomment %}
{% endblock %}