{% layout "layout.liquid" %}
{% block content %}



  <div class="inner-content-home homepg">

    <div class="column column-a ">
      <h1 class="welcome">Welcome to doWell
      </h1>

      <h2 class="sub-text">Find and share products and tips you
        <span style="font-family: lobster, cursive;">Love</span>
      </h2>
      

      
      <div class="main-carousel"  data-flickity='{ "autoPlay": 1500, "freeScroll": true, "wrapAround": true }'>
  <div class="carousel-cell"> <img class="carousel-img" src="https://i.pinimg.com/originals/48/ea/69/48ea699215f03f62be394fbdcf710a03.jpg" alt=""></div>
  <div class="carousel-cell"> <img class="carousel-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeQzPAcW01noca3H_HoxBOJ2e-hCsACIonIeUxHeKud3yM32lQuS4p8ZhJjQgL83LO1jM&usqp=CAU" alt=""></div>
  <div class="carousel-cell"> <img class="carousel-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTYGTHT_dVnSVt7wwZkhffETP9T-uiRrGCfb8-3OZVa1r2AmYA5qkn1YpLJxmwSdRzelo&usqp=CAU" alt=""></div>
  <div class="carousel-cell"> <img class="carousel-img" src="https://i.pinimg.com/736x/3c/44/91/3c44911803156715727a349ffb13b021.jpg" alt=""></div>


  ...
</div>

<div class="links">
  {% if loggedIn %}
          <h1 style="text-align: center; ">What's New:</h1>
        {% else %}
        <h2 style="font-size: 50px;margin-left: 60px;"> Lets <span style="font-family: lobster, cursive;">doWell !</span></h2>
          <h2>Join our community:
            <a href="/auth/signup">Sign Up!</a>
          </h2>
          <h2>Already a member?
            <a href="/auth/login">Log in</a>
          </h2>
        {% endif %}
</div>
          

     
        

       

    </div>

  </div>



  
{% endblock %}