{% layout "layout.liquid" %}
{% block content %}



  <div class="inner-content">
    <div class="column column a homepage">
      <h1 class="welcome">Welcome to doWell
      </h1>

      <h2>Find and share products you
        <span class="purple-text">love</span>
      </h2>


    </div>
    {% comment %}  <img
    class="homepage-img"
    src="https://i.pinimg.com/736x/8d/6d/d5/8d6dd51386941c5d1a1014fb8205e14d.jpg"
    alt=""> {% endcomment %}

    <div class="column column-a">
      <h2>Join our community:
        <a href="/auth/signup">Sign Up!</a>
      </h2>
      <h2>Already a member?
        <a href="/auth/login">Log in</a>
      </h2>
    </div>
  </div>
  {% comment %}
  <div class="container">
  <div class="content-container container-md">
  <nav>
  <ul>
  <span class="title">

  </li>
  </span>
  <li>
  <a href=""></a>Wellness Feed</li>
  <li>
  <a href=""></a>My Collection</li>
  <li>
  <a href=""></a>Log in</li>
  <li>
  <a href=""></a>Sign Up</li>
  </ul>
  </nav>
  <div class="home">
  <div class="home-content">
  <h1>Welcome to doWell</h1>
  <img src="https://cdn.freelogodesign.org/files/2ca98406b5cb4aa392b11f0677473b5c/thumb/logo_200x200.png?v=638101844560000000" alt="logo">

  </div>

  </div>
  </div>
  </div>
  {% endcomment %}
{% endblock %}