{% layout "layout.liquid" %}
{% block content %}

  
  <div class="container">
    <div class="content-container container-md">
      <nav>
        <ul>
          <span class="title">
            <li>doWell</li>
          </span>
          <li>
            <a href=""></a>Wellness Feed</li>
          <li>
            <a href=""></a>My Collection</li>
          <li>
            <a href=""></a>Log in</li>
          <li>
            <a href=""></a>Sign Up</li>
        </ul>
      </nav>
      <div class="home">
        <h1>Welcome to doWell</h1>
      </div>
    </div>
  </div>

{% endblock %}