<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doWell</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Lobster&display=swap" rel="stylesheet">
    <!-- link in bootstrap stylesheet from the CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <header>
        <a href="/" class="navbar-brand logo"><img src="https://cdn.freelogodesign.org/files/2ca98406b5cb4aa392b11f0677473b5c/thumb/logo_200x200.png?v=638101844560000000" alt="logo"></a>
       
    </header>
    <main>
          {% comment  %}  
        {% render './navbar.liquid', loggedIn: loggedIn, username: username, userId: userId %}
    {% endcomment %}
        <div class="container">
            <div class="content-container container-lg">
                <nav>
                    <div class="container-md">
                        <nav class="navbar  me-3 navbar-expand-md bg-transparent">
                            <div class="container-fluid">
                              <a href="/" class="navbar-brand">doWell</a>
                              
                              {% if loggedIn %}
                                <a href="/collection/mine" class="nav-link " style="color: #770aed; font-size: 20px; "> Hi, {{ username }}
                                </a>
                              {% endif %}
                              <button
                                class="navbar-toggler"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarNav"
                                aria-controls="navbarNav"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                                
                              </button>
                              <div class="collapse navbar-collapse" id="navbarNav">
                                {% if loggedIn %}
                                  
                                <a href="/auth/logout" style="color: #770aed; " class="nav-link nav-style">Log Out</a>
                                <a style="color: #770aed; margin: 0 20px" href="/collection/feed"  class="nav-link nav-style">Wellness Feed</a>

                                <a href="/collection/mine" style="color: #770aed; " class="nav-link nav-style">My Collection</a>
                                {% else %}
                                  <a href="/auth/signup"  style="color: #770aed; "class="nav-link nav-style " >Sign Up</a>
                                  <a href="/auth/login" style="color: #770aed; "class="nav-link nav-style ">Sign In</a>
                                  <a href="/collection/feed" style="color: #770aed; " class="nav-link nav-style ">Wellness Feed</a>
                                {% endif %}
                        
                            
            
                </nav>
                {% block content %} 

                {% endblock %}
           
            </div>
          
            </div>
            </div>
            </div>
     
      
    </main>
    <footer></footer>
    <!-- link in bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>

</html>