body {
    /* background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    background: rgb(198,174,238);
background: radial-gradient(circle, rgba(198,174,238,1) 0%, rgba(54,40,105,1) 100%);
    
    text-align: center;
    color: #770aed;
    /* color: rgb(61, 60, 60); */
    font-family: 'Alice', serif;
    

}

/* Main Layout (layout.liquid) */
.content-container {
    background: rgb(198,174,238);
background: linear-gradient(0deg, rgba(198,174,238,1) 0%, rgba(246,246,246,1) 100%);
    width: 1200px;
    height: 1200px;
    margin: 50px auto;
    border-radius: 30px;
    


}

nav, ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
   text-decoration: none;
   margin: 0;
}

nav, li {
    padding: 0 20px;
}

.logo {
    width:100px;
    height: 100px;
    background-image:url('://cdn.freelogodesign.org/files/2ca98406b5cb4aa392b11f0677473b5c/thumb/logo_200x200.png?v=638101844560000000');
    

}
.navbar {
    background-color: rgba(198,174,238,1);
}


/* Home page Styling (index.liquid) */
.welcome {
    font-size: 80px;
}

/* .home {
    width: 800px;
    height: 100%;
    background-color: pink;
    margin: 0 auto;
} */

.inner-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    
}
.homepage-img {
    /* grid-column-start: span 2; */
    grid-row-start: span 3;
}



.column-a {
    text-align: left;
    
}

/* Form Page Styling */



/* My Collection Styling */



/* Wellness Feed Styling */



/* NOTES 
I need a route that displays all the users wellness tips AND products (My Collection)
 a.k.a combine My wellness tips and My products into one link
 
 
 I need a route that shows an index of ALL wellness tips AND products
 this link will be called Wellness Feed!
 
 
 
 
 Want to add images to my models!
 Would affect how indexes look
 */