{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/wellnessTips" method="POST">
      <fieldset>
        <legend>Create New Wellness Tip</legend>
        <label class="form-label">Title/Name
        </label>
        <input
          type="text"
          name="title"
          placeholder="Enter a title for your Tip"
          class="form-control">
        <label class="form-label">Description</label>
        <input
          type="text"
          name="description"
          placeholder="Tell us about your tip"
          class="form-control">
        <label class="form-label">Good For</label>
        <input
          type="text"
          name="goodFor"
          placeholder="What does this tip help with?"
          class="form-control">
        <label class="form-label">Sources</label>
        <input
          type="text"
          name="source"
          placeholder="Support your tip with a link to a source"
          class="form-control">
        <label class="form-label">
          Wellness Tip Image</label>
        <input
          type="text"
          name="tipImg"
          placeholder="Paste your Image Address link here"
          class="form-control">
      </fieldset>
      <input
        type="submit"
        value="Create New wellnessTip"
        class="btn btn-success">
    </form>
  </div>
{% endblock %}